<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">{% include safari-pinned-tab.svg %}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="left fa fa-bars fa-lg"> MENU</i></a>
    <ul class="hide-on-med-and-down">
    {% for node in site.kids %}
      {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
      <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
    {% endfor %}
    </ul>
  </div>
</nav>
    
<ul class="sidenav" id="mobile-demo">
{% for node in site.kids %}
  {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
  <li class="p-{{id}}"><a class="sidenav-close" href="#{{id}}">{{node.title}}</a></li>
{% endfor %}
  <li><div class="divider"></div></li>
  <li><a href="/">Home</a></li>
</ul>
