<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">{% include safari-pinned-tab.svg %}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="left fa fa-bars fa-lg"> MENU</i></a>
    <ul class="hide-on-med-and-down">
    {% for node in site.posts reversed %}
      {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
      <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
    {% endfor %}
    <ul class="right hide-on-med-and-down">
      <li><a href="/search/"><i class="fa fa-search fa-lg"></a></li>
    </ul>
  </div>
</nav>
    
<ul class="sidenav" id="mobile-demo">
  {% for node in site.posts reversed %}
    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a class="sidenav-close" href="#{{id}}">{{node.title}}</a></li>
  {% endfor %}
</ul>
