<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="kids/">City Kids</a></li>
  <li><a href="students/">Students</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">{% include safari-pinned-tab.svg %}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="left fa fa-bars fa-lg"> MENU</i></a> 
    <ul class="hide-on-med-and-down">
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    <a class="btn-flat navbtn dropdown-trigger" href="#!" data-target="dropdown1">More</a>
    </ul> 
  </div>
</nav>
    
<ul class="sidenav" id="mobile-demo">
  {% for node in site.posts reversed %}
    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a class="sidenav-close waves-effect" href="#{{id}}">{{node.title}}</a></li>
  {% endfor %}
    <li><div class="divider"></div></li>
    <li><a href="kids/">City kids</a></li>
    <li><a href="students/">Students</a></li>
</ul>
