<nav>
  <div class="nav-wrapper">
    <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="left fa fa-bars fa-2x"></i></a>
    <ul class="center hide-on-med-and-down">
      <li class="p-home"><a href="/">HOME</a></li>
      <li class="p-privacy"><a href="/privacy/">PRIVACY</a></li>
      <li class="p-accessibility"><a href="/accessibility/">ACCESSIBILITY</a></li>
      <li class="p-cookies"><a href="/cookies/">COOKIES</a></li>
      <li class="p-vision"><a href="/vision/">VISION AND BELIEFS</a></li>
      <li class="p-safeguarding"><a href="/safeguarding/">SAFEGUARDING</a></li>
    </ul>
  </div>
</nav>
  
<ul class="side-nav" id="mobile-demo">
  <li class="p-home"><a href="/">Home</a></li>
  <li class="p-privacy"><a href="/privacy/">Privacy</a></li>
  <li class="p-accessibility"><a href="/accessibility/">Accessibility</a></li>
  <li class="p-cookies"><a href="/cookies/">Cookies</a></li>
  <li class="p-vision"><a href="/vision/">Vision and beliefs</a></li>
  <li class="p-safeguarding"><a href="/safeguarding/">Safeguarding</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#home" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Second</a>
      </div>
    </div>
  </nav>

