<nav>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="left fa fa-bars"></i></a>  
  <ul class="hide-on-med-and-down">
    <li class="p-home"><a href="/">HOME</a></li>
    <li class="p-privacy"><a href="/privacy/">PRIVACY</a></li>
    <li class="p-accessibility"><a href="/accessibility/">ACCESSIBILITY</a></li>
    <li class="p-cookies"><a href="/cookies/">COOKIES</a></li>
    <li class="p-vision"><a href="/vision/">VISION AND BELIEFS</a></li>
    <li class="p-safeguarding"><a href="/safeguarding/">SAFEGUARDING</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li class="p-home"><a href="/">HOME</a></li>
    <li class="p-privacy"><a href="/privacy/">PRIVACY</a></li>
    <li class="p-accessibility"><a href="/accessibility/">ACCESSIBILITY</a></li>
    <li class="p-cookies"><a href="/cookies/">COOKIES</a></li>
    <li class="p-vision"><a href="/vision/">VISION AND BELIEFS</a></li>
    <li class="p-safeguarding"><a href="/safeguarding/">SAFEGUARDING</a></li>
  </ul>
</nav>
